<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
<%= render partial:'show', collection: @events, as: :event %>
<div class="row">
<%= link_to 'New Event', new_event_path,class:"btn btn-primary" %>
</div>