<div class="tag_cloud">
	<h3>Search Tags</h3>
	<div>
		<% tag_cloud Event.tag_counts, %w{css1 css2 css3 css4} do |tag,css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
			<%= tag.count %>
		<% end -%>
	</div>
</div>
